# Core Framework
Django==5.2.6
asgiref==3.9.1
sqlparse==0.5.5
tzdata==2026.3

# Environment Variables
python-decouple==3.8
python-dotenv==1.1.1

# Django REST API
djangorestframework==3.16.1
django-filter==25.1

# Authentication
djangorestframework-simplejwt==5.5.1

# CORS
django-cors-headers==4.9.0

# API Documentation
drf-spectacular==0.28.0

# Images
Pillow==11.3.0
qrcode[pil]==8.2
cloudinary==1.44.1
django-cloudinary-storage==0.3.0

# Database
psycopg[binary]==3.2.10
dj-database-url==3.0.1

# Production
gunicorn==23.0.0
whitenoise==6.9.0

# HTTP Requests
requests==2.32.5
